article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  position: relative;

  .title {
    padding: 1em;
  }

  p {
    width: 75vw;
  }

  .divRaces {
    width: 25vw;
    background-image: url("../assets/effect.png");
    background-size: cover;
    background-position: top;
    background-color: #21212c;
    border-radius: 1em;
    border: antiquewhite 0.75em solid;
    margin: 1em;
    text-align: center;
    box-shadow: #21212c 1.2em 1.2em 1.6em;

    p {
      width: auto;
      text-shadow: -1px 0 #15151fff, 0 1px #15151fff, 1px 0 #15151fff, 0 -1px #15151fff;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  select {
    border: antiquewhite 0.25em solid;
    background-color: #21212c;
    border-radius: 1em;
    color: antiquewhite;
  }
}

.CardDriver {
  width: 15vw;
  height: 15vw;
  margin: 1em;
  border: antiquewhite 0.75em solid;
  border-radius: 2em;
  box-shadow: #21212c 1.2em 1.2em 1.6em;
  transition: 2.5s;
}

.CardDriver:hover {
  transform: rotateY(360deg);
  transition: 2.5s;
}

.BlockOne {
  width: 100%;
  background-image: url("../assets/effect.png");
  background-size: cover;
  background-position: top;
  background-color: #21212c;
  border-radius: 1em 1em 0 0;
  height: 65%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;

  h1 {
    align-self: flex-start;
    font-size: 4em;
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: -3px 0 #15151fff, 0 1px #15151fff, 1px 0 #15151fff, 0 -1px #15151fff;
  }

  img {
    width: 8em;
  }
}

.Carrousel {
  width: 100%;

  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }
}

.BlockTwo {
  color: #15151fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: auto;
  height: auto;

  h4,
  h3 {
    margin: 0%;
    padding: 0;
  }
}

main {
  text-align: justify;
}

@media screen and (max-width: 1624px) and (min-width: 1280px) {
  section {  
    p {
      width: 80vw;
    }
  
    .divRaces {
      width: 27.5vw;
    }
  }
  
  .CardDriver {
    width: 20vw;
    height: 20vw;
  }
  
  .Carrousel {
    img {
      height: 65vh;
    }
  }
}

@media screen and (max-width: 1279px) and (min-width: 1025px) {
  section {  
    p {
      width: 90vw;
    }
  
    .divRaces {
      width: 40vw;
    }
  }
  
  .CardDriver {
    width: 25vw;
    height: 25vw;
  }
  
  .Carrousel {
    img {
      height: 60vh;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  section {  
    p {
      width: 90vw;
    }
  
    .divRaces {
      width: 75vw;
    }
  }
  
  .container {
    select {
      max-width: 35vw;
    }
  }
  
  .CardDriver {
    width: 35vw;
    height: 35vw;
  }
  
  .BlockOne {
    img {
      width: 10em;
    }
  }
  
  .Carrousel {
    img {
      height: 55vh;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  section {  
    p {
      width: 90vw;
    }
  
    .divRaces {
      width: 85vw;
    }
  }
  
  .CardDriver {
    width: 55vw;
    height: 55vw;
  }
  
  .BlockOne {
    img {
      width: 8em;
    }
  }
  
  .Carrousel {
    img {
      height: 45vh;
    }
  }
}

@media screen and (max-width: 480px) {
  section {  
    p {
      width: 90vw;
    }
  
    .divRaces {
      width: 85vw;
    }
  }
  
  .container {
    select {
      max-width: 35vw;
    }
  }
  
  .CardDriver {
    width: 80vw;
    height: 80vw;
    box-shadow: #21212c 1.2em 1.2em 1.6em !important;
  }
  
  .CardDriver:hover {
    transform: rotateY(360deg);
    transition: 2.5s;
  }
  
  .BlockOne {
    img {
      width: 10em;
    }
  }
  
  .Carrousel {
    img {
      height: 45vh;
    }
  }
}