article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

section {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  position: relative;

  .title {
    padding: 1em;
  }

  p {
    width: 75vw;
  }

  .divRaces {
    width: 25vw;
    background-image: url("../assets/effect.png");
    background-size: cover;
    background-position: top;
    background-color: #21212c;
    border-radius: 1em;
    border: antiquewhite 0.75em solid;
    margin: 1em;
    text-align: center;
    box-shadow: #21212c 1.2em 1.2em 1.6em;

    p {
      width: auto;
      text-shadow: -1px 0 #15151fff, 0 1px #15151fff, 1px 0 #15151fff, 0 -1px #15151fff;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  select {
    border: antiquewhite 0.25em solid;
    background-color: #21212c;
    border-radius: 1em;
    color: antiquewhite;
  }
}

main {
  text-align: justify;
}

.Carrousel {
  width: 100%;

  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }
}


@media screen and (max-width: 1624px) {
  section {
    p {
      width: 80vw;
    }

    .divRaces {
      width: 27.5vw;
    }
  }

  .Carrousel {
    img {
      height: 65vh;
    }
  }
}

@media screen and (max-width: 1279px) {
  section {
    p {
      width: 90vw;
    }

    .divRaces {
      width: 40vw;
    }
  }

  .Carrousel {
    img {
      height: 60vh;
    }
  }
}

@media screen and (max-width: 1024px) {
  section {
    p {
      width: 90vw;
    }

    .divRaces {
      width: 75vw;
      box-shadow: none !important;
    border: #21212c 0.75em solid;
    }
  }

  main {
    color:#21212c;
  }

  .title{
    color:#21212c;
  }

  .container {
    select {
      max-width: 35vw;
    }
  }

  .Carrousel {
    img {
      height: 55vh;
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    p {
      width: 90vw;
    }

    .divRaces {
      width: 85vw;
      box-shadow: none !important;
    border: #21212c 0.75em solid;
    }
  }

  main {
    color:#21212c;
  }

  .title{
    color:#21212c;
  }

  .Carrousel {
    img {
      height: 45vh;
    }
  }
}

@media screen and (max-width: 480px) {
  section {
    p {
      width: 90vw;
    }

    .divRaces {
      width: 85vw;
      box-shadow: none !important;
    border: #21212c 0.75em solid;
    }
  }

  main {
    color:#21212c;
  }

  .title{
    color:#21212c;
  }

  .container {
    select {
      max-width: 35vw;
    }
  }

  .Carrousel {
    img {
      height: 45vh;
    }
  }
}