article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.profile {
  display : flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2.5em;
  align-items: center;
  flex-wrap: wrap;

  p {
    width: 35vw;
    text-align: justify;
  }
}

.profile-image {
  width: 25vw;
  height: 25vw;
  border-radius: 2.5em;
  margin-bottom: 1em;
  object-fit: cover;
  object-position: top;
}

.ContactUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  background-color: #21212c;
  width: 100%;
  padding-bottom: 2em;

  p {
    color: antiquewhite;
  }
  h2 {
    color: antiquewhite;
  }
}

.LoginMessage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  background-color: #21212c;
  width: 100%;
  padding-bottom: 2em;

  p {
    color: antiquewhite;
  }
  h3 {
    color: antiquewhite;
  }
  .LoginButton{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 7.5em;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

section {
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
  position: relative;

  .title {
    padding: 1em;
  }

  p {
    width: 75vw;
  }

  .divRaces {
    width: 25vw;
    background-image: url("../assets/ultra.png");
    background-size: cover;
    background-position: center;
    background-color: #21212c;
    border-radius: 1em;
    border: antiquewhite 0.75em solid;
    margin: 1em;
    text-align: center;
    box-shadow: #21212c 1.2em 1.2em 1.6em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: auto;
      text-shadow: -1px 0 #15151fff, 0 1px black, 1px 0 #15151fff, 0 -1px #15151fff;
      font-size: larger;
      margin: 0%;
      padding: 0.5em;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  select {
    border: antiquewhite 0.25em solid;
    background-color: #21212c;
    border-radius: 1em;
    color: antiquewhite;
  }
}

main {
  text-align: justify;
}

.Carrousel {
  width: 100%;

  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }
}


@media screen and (max-width: 1624px) {
  section {
    p {
      width: 80vw;
    }

    .divRaces {
      width: 27.5vw;
    }
  }

  .Carrousel {
    img {
      height: 65vh;
    }
  }
}

@media screen and (max-width: 1279px) {
  .profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      width: 80vw;
    }
  }

  section {
    p {
      width: 90vw;
    }

    .divRaces {
      width: 40vw;
    }
  }

  .profile-image {
    width: 60vw;
    height: 60vw;
  }


  .Carrousel {
    img {
      height: 60vh;
    }
  }
}

@media screen and (max-width: 1024px) {
  section {
    p {
      width: 90vw;
    }

    .divRaces {
      width: 75vw;
      box-shadow: none !important;
    border: #21212c 0.75em solid;
    }
  }

  main {
    color:#21212c;
  }

  .Main {
    color:#21212c;
  }

  .title{
    color:#21212c;
  }

  .container {
    select {
      max-width: 35vw;
    }
  }

  .Carrousel {
    img {
      height: 55vh;
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    p {
      width: 90vw;
    }

    .divRaces {
      width: 85vw;
      box-shadow: none !important;
    border: #21212c 0.75em solid;
    }
  }

  .profile-image {
    width: 70vw;
    height: 70vw;
    padding: 0%;
    margin: 0%;
  }

  main {
    color:#21212c;
  }

  .title{
    color:#21212c;
  }

  .Carrousel {
    img {
      height: 45vh;
    }
  }
}

@media screen and (max-width: 480px) {
  section {
    p {
      width: 90vw;
    }

    .divRaces {
      width: 85vw;
      box-shadow: none !important;
    border: #21212c 0.75em solid;
    }
  }

  main {
    color:#21212c;
  }

  .title{
    color:#21212c;
  }

  .container {
    select {
      max-width: 35vw;
    }
  }

  .Carrousel {
    img {
      height: 45vh;
    }
  }
}